@import "bootstrap-sprockets";
@import "bootstrap";

/*universal*/
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/*typography*/
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    text-align: center;
}

h2{
    font-size: 1.2em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
    color:#777;
}


/* header */
#logo{
    float: left;
    margin-right: 10px;
    font-size:1.7em;
    color:#777;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
            color:#fff;
            text-decoration: none; 
        }
}

/* mixins,variable,etc */

$gray-medium-light: #eaeaea;

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

/* miscellaneus */

.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* sidbar */

aside {
    section.user_info{
        margin-top: 20px;
    }

    section {
        padding:10px,0;
        margin-top: 20px;
        &:first-child{
            border:0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 10vw;
            // font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar{
    float: left;
}

.gravatar_edit{
    margin-top: 15px;
}

input,textarea,select,.uneditable-input {
    border-bottom: 1px solid;
    width:100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

input[type=radio] {
	display: none; 	/* ラジオボタンを非表示にする */
}

input[type="radio"]:checked+label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}
.label:hover {
	background-color: #E2EDF9; 	/* マウスオーバー時の背景色を指定する */ 
}
.label {
    display: block;		/* ブロックレベル要素化する */ 
	float: left;		/* 要素の左寄せ・回り込を指定する */ 
	margin: 5px;		/* ボックス外側の余白を指定する */
	width: 100px;		/* ボックスの横幅を指定する */
	height: 45px;		/* ボックスの高さを指定する */
	padding-left: 5px;	/* ボックス内左側の余白を指定する */
	padding-right: 5px;	/* ボックス内御右側の余白を指定する */
	color: #000000;		/* フォントの色を指定 */
	text-align: center;	/* テキストのセンタリングを指定する */
	line-height: 45px;	/* 行の高さを指定する */
	cursor: pointer;	/* マウスカーソルの形（リンクカーソル）を指定する */
	border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
	border-radius: 5px;	/* 角丸を指定する */
}
/* forms */

#error_explanation{
 color:red;
 ul {
    color:red;
    margin: 0 0 30px 0;
 }
}

.field_with_errors{
    @extend .has-error;
    .form-control{
        color:$state-danger-text;
    }
}

.checkbox{
    margin-top: -10px;
    margin-bottom:  10px;
    span {
        margin-left:20px;
        font-weight: normal;
    }
}

#session_remember_me{
    width:auto;
    margin-left: 0;
}

.users{
    list-style: none;
    margin: 0;
    li{
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter
    }
}

.table {
    border:none;
  }