<header class="navber navbar-fixed-top navbar-inverse">
<div class="container">
 <%=link_to "Kakeibo",root_path,id:"logo" %>
 <nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "HOME",root_path %></li>        
    <li><%= link_to "ADD",'#' %></li>        
    <li><%= link_to "LIST",new_receipt_path %></li>        
  </ul>
 </nav>
</div>
</header>